<div class="partner-logos" style="background-color: ${configuration.backgroundColor}">
    <div class="logos-ticker">
        <div class="logos-wrapper">
            <div class="logo-item" data-lfr-editable-id="logo1" data-lfr-editable-type="image">
                <img src="[resources:logo.svg]" alt="Logo 1">
            </div>
            <div class="logo-item" data-lfr-editable-id="logo2" data-lfr-editable-type="image">
                <img src="[resources:logo.svg]" alt="Logo 2">
            </div>
            <div class="logo-item" data-lfr-editable-id="logo3" data-lfr-editable-type="image">
                <img src="[resources:logo.svg]" alt="Logo 3">
            </div>
            <div class="logo-item" data-lfr-editable-id="logo4" data-lfr-editable-type="image">
                <img src="[resources:logo.svg]" alt="Logo 4">
            </div>
            <div class="logo-item" data-lfr-editable-id="logo5" data-lfr-editable-type="image">
                <img src="[resources:logo.svg]" alt="Logo 5">
            </div>
            <div class="logo-item" data-lfr-editable-id="logo6" data-lfr-editable-type="image">
                <img src="[resources:logo.svg]" alt="Logo 6">
            </div>
            <div class="logo-item" data-lfr-editable-id="logo7" data-lfr-editable-type="image">
                <img src="[resources:logo.svg]" alt="Logo 7">
            </div>
            <div class="logo-item" data-lfr-editable-id="logo8" data-lfr-editable-type="image">
                <img src="[resources:logo.svg]" alt="Logo 8">
            </div>
            <div class="logo-item" data-lfr-editable-id="logo9" data-lfr-editable-type="image">
                <img src="[resources:logo.svg]" alt="Logo 9">
            </div>
            <div class="logo-item" data-lfr-editable-id="logo10" data-lfr-editable-type="image">
                <img src="[resources:logo.svg]" alt="Logo 10">
            </div>
        </div>
    </div>
</div>