<div class="partner-logos" style="background-color: ${configuration.backgroundColor}">
    <div class="container container-fluid-max-xl">
        <div class="logos-grid">
            <div class="logo-item" data-lfr-editable-id="logo1" data-lfr-editable-type="image">
                <img src="${fragmentCapsule.getAssetURL('logo.svg')}" alt="Logo 1">
            </div>
            <div class="logo-item" data-lfr-editable-id="logo2" data-lfr-editable-type="image">
                <img src="${fragmentCapsule.getAssetURL('logo.svg')}" alt="Logo 2">
            </div>
            <div class="logo-item" data-lfr-editable-id="logo3" data-lfr-editable-type="image">
                <img src="${fragmentCapsule.getAssetURL('logo.svg')}" alt="Logo 3">
            </div>
            <div class="logo-item" data-lfr-editable-id="logo4" data-lfr-editable-type="image">
                <img src="${fragmentCapsule.getAssetURL('logo.svg')}" alt="Logo 4">
            </div>
            <div class="logo-item" data-lfr-editable-id="logo5" data-lfr-editable-type="image">
                <img src="${fragmentCapsule.getAssetURL('logo.svg')}" alt="Logo 5">
            </div>
            <div class="logo-item" data-lfr-editable-id="logo6" data-lfr-editable-type="image">
                <img src="${fragmentCapsule.getAssetURL('logo.svg')}" alt="Logo 6">
            </div>
        </div>
    </div>
</div>
