<div class="possibility-grid">
    <div class="container container-fluid-max-xl">
        <h2 class="section-title text-center" data-lfr-editable-id="title" data-lfr-editable-type="text">Open up to the possibilities</h2>
        <div class="bento-grid">
            <div class="bento-item text-item">
                <div class="bento-content">
                    <div class="bento-icon">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2"><path d="M5 12h14M12 5l7 7-7 7"/></svg>
                    </div>
                    <h4 data-lfr-editable-id="item1" data-lfr-editable-type="text">One connection, multiple opportunities</h4>
                </div>
            </div>
            <div class="bento-item image-item">
                <img src="${fragmentCapsule.getAssetURL('img1.png')}" alt="Possibility 1" data-lfr-editable-id="img1" data-lfr-editable-type="image">
            </div>
            <div class="bento-item text-item item-alt">
                <div class="bento-content">
                    <div class="bento-icon">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2"><path d="M5 12h14M12 5l7 7-7 7"/></svg>
                    </div>
                    <h4 data-lfr-editable-id="item2" data-lfr-editable-type="text">Build with industry support</h4>
                </div>
            </div>
            <div class="bento-item image-item">
                <img src="${fragmentCapsule.getAssetURL('img2.png')}" alt="Possibility 2" data-lfr-editable-id="img2" data-lfr-editable-type="image">
            </div>
            <div class="bento-item text-item">
                <div class="bento-content">
                    <div class="bento-icon">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2"><path d="M5 12h14M12 5l7 7-7 7"/></svg>
                    </div>
                    <h4 data-lfr-editable-id="item3" data-lfr-editable-type="text">Fast, flexible innovation</h4>
                </div>
            </div>
            <div class="bento-item image-item">
                <img src="${fragmentCapsule.getAssetURL('img3.png')}" alt="Possibility 3" data-lfr-editable-id="img3" data-lfr-editable-type="image">
            </div>
        </div>
    </div>
</div>
