<div class="fortune-callout">
    <div class="container container-fluid-max-xl">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-7">
                <h3 class="callout-text" data-lfr-editable-id="text" data-lfr-editable-type="text">
                    Visa ranks #2 on the Fortune AIQ 50
                </h3>
                <p class="callout-subtext" data-lfr-editable-id="subtext" data-lfr-editable-type="text">
                    The inaugural list of the world's leading companies using AI to improve their products and
                    operations.
                </p>
            </div>
            <div class="col-md-5">
                <div class="logos-box">
                    <img src="[resources:fortune-aiq-50.svg]"
                        alt="Fortune AIQ 50" class="callout-logo">
                    <img src="[resources:visa.svg]"
                        alt="Visa" class="callout-logo">
                </div>
            </div>
        </div>
    </div>
</div>